.chat-main

  .chat-main__group-info
    %h2.chat-main__group-info--group-name
      = @group.name
      %ul.chat-main__group-info--group-name--members
        %li.chat-main__group-info--group-name--member--member
          Member :
        %li.chat-main__group-info--group-name--member--name
          - @group.users.each do |user|
            = user.name
    .chat-main__group-info--edit
      = link_to edit_group_path(@group.id), class:"chat-main__group-info--edit--url" do
        Edit

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message], html:{class: "chat_main__message-form--box"} do |f|
      .chat-main__message-form--box--text-image
        = f.text_field :content, class: "chat-main__message-form--box--text-image--text", placeholder: "type a message"
        = f.label :image, class: 'chat-main__message-form--box--text-image--image' do
          = icon('fas', 'image', class: 'chat-main__message-form--box--text-image--image--icon')
          = f.file_field :image, class: 'chat-main__message-form--box--text-image--image--hidden'
      = f.submit 'Send', class: "chat-main__message-form--box--submit"
